* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

@media (max-width: 990px){
  .app > *{ 
    flex-direction: column;
    justify-content: space-between;
  }
}

.app__header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.app__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

.app__stat{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

}

.app__stat__map{
  flex : .7;
}

.app__barchart{
  display: flex;
  justify-content: space-around;
}

