* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app__header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.app__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

.app__stat{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

}

.app__barchart{
  display: flex;
  justify-content: space-around;
}