* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

@media (max-width: 990px){
  .app > *{ 
    flex-direction: column;
    justify-content: space-between;
  }
}

.app__header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.app__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

.app__stat{
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 50px;

}

.app__stat > *{
  padding: 20px;
}

.app__stat__map{
  flex: 8;
}

.app__stat__barchart{
  flex-grow: 1;
}

.app__barchart{
  display: flex;
  /* justify-content: space-around; */
}

.app__barchart > *{
  margin: 20px;
  flex-grow: 1;
}

.app__barchart > :first-child{
}

